In [12]:
import pandas as pd
import numpy as np

In [23]:
df = pd.read_csv('data/TSLA.csv')
df.Datetime = pd.to_datetime(df.Datetime)

In [24]:
df.head()

,Datetime,Open,High,Low,Close,Adj Close,Volume
0,2022-04-28 09:30:00-04:00,899.979980,900.000000,891.114990,893.594971,893.594971,923680
1,2022-04-28 09:31:00-04:00,893.518127,899.469971,891.479980,891.479980,891.479980,145169
2,2022-04-28 09:32:00-04:00,891.260010,893.500000,886.859985,887.020020,887.020020,151475
3,2022-04-28 09:33:00-04:00,886.880005,891.840027,885.049988,886.469971,886.469971,119915
4,2022-04-28 09:34:00-04:00,886.460022,888.489990,884.500000,884.700012,884.700012,148172

In [66]:
x = []
y = []
features = ['Open', 'High', 'Low', 'Close', 'Adj Close'] # Percent change augmentation columns
interval = 30 # Minutes per episode
hard_limit = len(df) 
counter = 0
while counter < hard_limit-interval:
    start_time = df.iloc[counter].Datetime
    end_time = df.iloc[counter+interval].Datetime
    if (end_time-start_time).seconds == 1800: # Meaning no missing data
        new_df = df.drop(['Datetime'], axis=1).iloc[counter:counter+interval+1]
        new_df[features] = new_df[features].pct_change().fillna(0)
        x.append(new_df.iloc[:interval].to_numpy())
        y.append(new_df.iloc[interval].to_numpy())
        counter += 30
    else:
        counter += 1

MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING
MISSING

In [67]:
len(x)

84

In [46]:
df.drop(['Datetime'], axis=1).iloc[0:30].to_numpy()

(30, 6)

In [56]:
new_df = df.drop(['Datetime'], axis=1).iloc[0:31]

In [57]:
new_df

          Open        High         Low       Close   Adj Close  Volume
0   899.979980  900.000000  891.114990  893.594971  893.594971  923680
1   893.518127  899.469971  891.479980  891.479980  891.479980  145169
2   891.260010  893.500000  886.859985  887.020020  887.020020  151475
3   886.880005  891.840027  885.049988  886.469971  886.469971  119915
4   886.460022  888.489990  884.500000  884.700012  884.700012  148172
5   884.960022  885.000000  881.000000  882.729980  882.729980  159800
6   882.494995  882.900024  872.570007  873.099976  873.099976  254149
7   872.919983  875.429993  866.571411  867.330017  867.330017  275636
8   867.580017  867.580017  861.559998  864.000000  864.000000  257940
9   863.450012  863.849976  860.000000  860.010193  860.010193  242497
10  860.152527  869.239990  860.042480  862.359375  862.359375  257000
11  862.390015  862.539978  859.849976  860.780029  860.780029  213670
12  860.380005  861.150024  853.030029  854.239990  854.239990  254332
13  853.684998  853.684998  844.559998  847.679993  847.679993  488553
14  847.994019  848.469971  843.289978  845.859985  845.859985  298469
15  846.083801  851.520020  845.719971  849.030029  849.030029  341015
16  850.090027  850.559998  845.250122  846.419983  846.419983  313756
17  847.489990  849.150024  841.599976  841.867981  841.867981  277697
18  841.869995  846.378418  839.018005  840.619995  840.619995  324786
19  841.159973  844.641602  836.690674  837.669983  837.669983  262606
20  837.659973  838.440002  830.700012  831.179993  831.179993  384298
21  830.969971  839.900024  830.000000  838.770020  838.770020  370206
22  838.400024  843.614075  834.000000  841.409973  841.409973  238447
23  841.419983  843.489929  838.801025  842.534973  842.534973  189271
24  842.299988  842.809875  837.599976  839.010010  839.010010  199125
25  838.830017  839.700012  836.229980  836.469971  836.469971  143578
26  836.599976  843.879883  835.940002  843.041809  843.041809  218774
27  843.303406  843.650024  839.599976  840.000000  840.000000  178938
28  840.000000  842.650024  838.140015  841.005005  841.005005  157795
29  840.440002  842.640015  837.630005  842.349976  842.349976  162176
30  842.210022  844.900024  830.000000  834.674988  834.674988  350741

In [58]:

new_df

        Open      High       Low     Close  Adj Close  Volume
0   0.000000  0.000000  0.000000  0.000000   0.000000  923680
1  -0.007180 -0.000589  0.000410 -0.002367  -0.002367  145169
2  -0.002527 -0.006637 -0.005182 -0.005003  -0.005003  151475
3  -0.004914 -0.001858 -0.002041 -0.000620  -0.000620  119915
4  -0.000474 -0.003756 -0.000621 -0.001997  -0.001997  148172
5  -0.001692 -0.003928 -0.003957 -0.002227  -0.002227  159800
6  -0.002785 -0.002373 -0.009569 -0.010909  -0.010909  254149
7  -0.010850 -0.008461 -0.006875 -0.006609  -0.006609  275636
8  -0.006117 -0.008967 -0.005783 -0.003839  -0.003839  257940
9  -0.004760 -0.004299 -0.001811 -0.004618  -0.004618  242497
10 -0.003819  0.006240  0.000049  0.002732   0.002732  257000
11  0.002601 -0.007708 -0.000224 -0.001831  -0.001831  213670
12 -0.002331 -0.001611 -0.007932 -0.007598  -0.007598  254332
13 -0.007781 -0.008669 -0.009929 -0.007679  -0.007679  488553
14 -0.006666 -0.006109 -0.001504 -0.002147  -0.002147  298469
15 -0.002253  0.003595  0.002882  0.003748   0.003748  341015
16  0.004735 -0.001127 -0.000556 -0.003074  -0.003074  313756
17 -0.003059 -0.001658 -0.004318 -0.005378  -0.005378  277697
18 -0.006631 -0.003264 -0.003068 -0.001482  -0.001482  324786
19 -0.000843 -0.002052 -0.002774 -0.003509  -0.003509  262606
20 -0.004161 -0.007342 -0.007160 -0.007748  -0.007748  384298
21 -0.007987  0.001741 -0.000843  0.009132   0.009132  370206
22  0.008941  0.004422  0.004819  0.003147   0.003147  238447
23  0.003602 -0.000147  0.005757  0.001337   0.001337  189271
24  0.001046 -0.000806 -0.001432 -0.004184  -0.004184  199125
25 -0.004120 -0.003690 -0.001636 -0.003027  -0.003027  143578
26 -0.002659  0.004978 -0.000347  0.007857   0.007857  218774
27  0.008013 -0.000272  0.004378 -0.003608  -0.003608  178938
28 -0.003917 -0.001185 -0.001739  0.001196   0.001196  157795
29  0.000524 -0.000012 -0.000609  0.001599   0.001599  162176
30  0.002106  0.002682 -0.009109 -0.009111  -0.009111  350741